body {
    background-color: #3d3d3d; 
    margin: 00px;
    font-family: Arial, sans-serif;
    position: relative;
}
 
.header {
    background-color: #000000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
}
.white-div {
    background-color: #e8e7e7; 
    height:600px;
    width: 100%;
}

.main-content {
    padding: 20px;
    position: relative; 
} 

.tabs {
    display: flex;
    justify-content:center; 
    padding-bottom: 20px;
    padding-top:0;
}

.tab {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #303030;
    border: none;
    color:#ffffff;
    cursor: pointer;
    margin-right: 10px; /* Adjust spacing between tabs */
    border-radius: 10px; /* Adjust the value to change the roundness */
}

.tab img {
    margin-right: 8px; /* Adjust the space between the icon and the text */
}

.arrow {
    width: 3px;
    height: 3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff; /* Arrow color */
    position: absolute;
    left: 50%; /* Position the arrow horizontally centered */
    transform: translateX(-50%) translateY(-10px); /* Center the arrow horizontally and move it upwards */
    display: none; /* Hide the arrow initially */
    z-index: 1; /* Ensure the arrow is above other elements */
}

/* Style for the user icon button */
.user-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px;
    white-space: nowrap;
    position:relative;
}
.user-icon {
    font-size: 24px;
    margin-right: 5px; /* Adjust margin as needed */
    white-space: nowrap;
}

.username {
    font-size: 16px; /* Adjust font size as needed */
    margin-right: 5px; /* Adjust margin as needed */
    white-space: nowrap;
}

nav{
    background: #1a1a1a;
    width: 100%;
    padding:10px 10%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}

.logo{
    margin:20px;
    display:flex;
    width:120px;
    align-items: center;
}

.logo img {
    margin:10px;
    padding: 5px;
    max-width: 200px; /* Set the maximum width of the logo */
    max-height: 100px; /* Set the maximum height of the logo */
    align-items: center;
}

.user-pic{
    width:40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: calc(100%+10px);
    right:-10%;
    transform: translateX(-50%); /* Center the submenu horizontally */
    width:300px;
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    z-index: 2;
}

@media screen and (max-width: 1640px) {
    .sub-menu-wrap {
      right: 0; /* Adjust as needed */
      transform: translateX(0);
      width: 250px; /* Adjust submenu width */
    }
  }
.sub-menu-wrap.open-menu{
    max-height:350px;
}


.sub-menu{
    background:#fff;
    padding:10px;
    margin:10px;
}

.user-info{
    display:flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right:15px;
}

.sub-menu hr{
    border:0;
    height: 1px;
    width:100%;
    background:#ccc;
    margin:15px 0 10px;
}

.sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin:12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width:40px;
    background:#e5e5e5;
    border-radius: 50%;
    padding:8px;
    margin-right: 15px;

}
.sub-menu-link span{
    font-size: 22px;
    transition:transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight:600;
}

.tab:hover {
    background-color: #fff; /* Change background color on hover */
    color: #000; /* Change font color on hover */
    border-color: orange;
    border-width: 1px; /* Optionally set border width */
    border-style: solid; /* Optionally set border style */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
 }

#knowledgeContent{
    padding: 2%;
}

.topicsNavbar,.topicsContainer{
    display: flex;
    flex-wrap: wrap;
}

.topicsNavbarContent {
    display: inline-block;
    max-width: 8vw; 
    height: 2vh; 
    border: none; 
    margin-right: 11vw; 
    margin-bottom: 8px;
}

.postssNavbar,.postsContainer{
    display: flex;
    flex-wrap: wrap;
}

.postsNavbarContent {
    display: inline-block;
    max-width: 8vw; 
    height: 1vh; 
    border: none; 
    margin-right: 11vw; 
    margin-bottom: 3px;
}

input[type="text"]{
    flex:1;
    height:4vh;
    border-radius: 2%;
    border-color:  #ed992b;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 5px;
}

#search-button{
    border:none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

.fa-search {
    margin-right: 3px;
}

hr {
    border: 1px solid #000; /* Set the color and style of the line */
    margin: 2% 0; /* Adjust margin for spacing using percentage */
    border-style: solid;
    margin-top: 2%;
}

.headerContent{
    display: inline-block;
    padding: 0.3%;
    width: 0.5vw; 
    height: 1vh; 
    border: none; 
    color: #ed992b;
    margin-right: 43vw;
    padding-bottom: 4px;
}

.topics{
    display:flex;
    padding: 2%;
    width:85vw; 
    height: 8vh; 
    border: #000;
    border-style: solid; 
    color: black;
    border-radius: 3%;
    margin-bottom: 3px;
}

.postContentStructure{
    display: flex;
    width: 0.5vw;
    height: 1vh;
    border: none;
    color: #ed992b;
}

.postHeaderContent {
    display: flex;
    width: 0.5vw;
    height: 1vh;
    border: none;
    color: #ed992b;
}

#posts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1%;
    padding: 1%;
}

.posts {
    width: 100%;
    height: 10vh;
    border: 1px solid #000;
    color: black;
    border-radius: 1%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.popup {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    width: 37vw;
    height: 40vw;
    padding-bottom: 3px;
}

.popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ed992b;
    background-color: transparent; /* Fix for 'none' to 'transparent' */
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.popup button:hover {
    background-color: red;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.button-container button {
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border: none;
    background-color: #e5e5e5;
}

.button-container .like-count {
    color: orangered;
    font-size: 12px;
    margin-left: 5px;
}

.button-container button.incremented::after {
    content: attr(data-count);
    color: white;
    font-size: 5px;
}

.button-container img {
    width: 15px;
    height: 15px;
}

#updateButton {
    cursor: pointer;
    padding: 8px;
    margin-top: 7px;
    border: none;
    background-color: #e5e5e5;
}

.update-button.incremented::after {
    content: attr(data-count);
    color: white;
    font-size: 5px;
}

.update-button img {
    position: relative;
    width: 15px;
    height: 15px;
}

.update-count {
    color: orangered;
    font-size: 12px;
}

.like-button {
    cursor: pointer;
    padding: 5px;
    margin-top: 7px;
    border: none;
    background-color: #e5e5e5;
}

.like-button.incremented::after {
    content: attr(data-count);
    color: white;
    font-size: 5px;
}

.like-button img {
    position: relative;
    width: 15px;
    height: 15px;
}

.like-count {
    color: orangered;
    font-size: 12px;
}