body {
  background-color: #3d3d3d; 
  margin: 00px;
  font-family: Arial, sans-serif;
  position: relative;
}

.header {
background-color: #000000; 
display: flex;
justify-content: space-between;
align-items: center;
height:80px;
}

.main-content {
padding: 20px;
position: relative; 
align-items: stretch;
} 

.main-content > div {
height: auto;
width: auto;
}

.tabs {
display: flex;
justify-content:flex-start; 
padding-bottom: 0px;
padding-top:0;
}

.tab {
font-size: 10px;
font-weight: bold;
padding: 10px 20px;
background-color: #303030;
border: none;
color:#ffffff;
cursor: pointer;
margin-right: 10px; 
border-radius: 10px; 
border-color: orange;
border-width: 1px; 
border-style: solid; 
}
.tab img {
  margin-right: 8px; 
}

.arrow {
width: 3px;
height: 3px;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #ffffff; 
position: absolute;
left: 50%; 
transform: translateX(-50%) translateY(-10px); 
display: none; 
z-index: 1; 
}

.user-btn {
margin: 10px;
border: none;
background: none;
cursor: pointer;
display: flex;
align-items: center;
color: #333;
font-size: 16px;
white-space: nowrap;
position:relative;
}

.username {
font-size: 10px; 
margin-right: 5px; 
white-space: nowrap;

}
nav{
background: #1a1a1a;
width: 100%;
padding:10px 10%;
display:flex;
align-items: center;
justify-content:space-between;
position: relative;
}
.logo{
  margin:05px;
  display:flex;
width:120px;
align-items: center;
}

.logo img {
  margin:10px;
padding: 5px;
max-width: 200px; 
max-height: 100px; 
align-items: center;
}

.user-pic{
width:40px;
border-radius: 50%;
cursor: pointer;
margin-left: 30px;
}

.sub-menu-wrap{
position: absolute;
top: calc(100%+10px); 
right:-10%;
transform: translateX(-50%); 
width:300px;
max-height:0px;
overflow: hidden;
transition:max-height 0.5s;
z-index: 2;
}
@media only screen and (max-width: 768px) {
.logo {
  display: none;
}

.user-btn {
  display: none;
}
.tabs button {
  display: block;
  margin: 10px 10px 10px 10px;
  width:auto;
}
#subMenu {
  display: none !important;
}
}

.sub-menu-wrap.open-menu{
max-height:350px;
}


.sub-menu{
background:#fff;
padding:10px;
margin:10px;
}

.user-info{
display:flex;
align-items: center;
}

.user-info h3{
font-weight: 500;
}

.user-info img{
width: 60px;
border-radius: 50%;
margin-right:15px;
}

.sub-menu hr{
border:0;
height: 1px;
width:100%;
background:#ccc;
margin:15px 0 10px;
}

.sub-menu-link{
display:flex;
align-items: center;
text-decoration: none;
color: #525252;
margin:12px 0;
}

.sub-menu-link p{
width: 100%;
}

.sub-menu-link img{
width:40px;
background:#e5e5e5;
border-radius: 50%;
padding:8px;
margin-right: 15px;

}
.sub-menu-link span{
font-size: 22px;
transition:transform 0.5s;
}

.sub-menu-link:hover span{
transform: translateX(5px);
}
.sub-menu-link:hover p{
font-weight:600;
}

.tab:hover {
background-color: #fff; 
color: #000; 
border-color: orange;
border-width: 1px;
border-style: solid; 
}
.tab.active {
background-color: #ffffff; 
color: #000000;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

/* .content {
  display: none;
} */

.content.active {
  display: block;
}
.main-content {
padding: 20px;
position: relative; 
}
.white-div {
background-color: #000000; 
width: 100%;
justify-content: center; /* aligns children horizontally */
align-items: center;
}
.info-center {
text-align: center;
padding: 12px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
height: 100%;
}
.grid-container2{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 20px;
margin-top: 20px;
margin-bottom: 20px;
justify-content: center; 
}
  
.grid-item {
background-color: orange;
padding: 90px;
border-radius: 10px;
text-align: center;
width: 500px;
font-family: Arial, sans-serif;
font-weight: bold;
transition: all 0.2s ease;
text-decoration:"none;"
/* box-sizing: border-box; */
}
  
.grid-item:hover{
cursor: grab;
background-color: #edebeb; 
/* border: 3px solid orange;  */
/* border-radius: 10%; */
font-style: italic;
}
.breadcrumbs {
padding: 10px;
margin-right: 79vh;
}
    
.breadcrumbs-item{
display: inline-block;
}
    
.breadcrumbs-item:not(:last-of-type)::after{
content: '/';
margin: 0.5px;
color: #cccccc;
}
    
.breadcrumbs_link{
text-decoration: none;
color: #999999
}

.breadcrumbs_link:hover{
text-decoration: underline;
}
    
.breadcrumbs_link--active{
color:#ed992b;
font-weight: 500;
}